.todoList {
  list-style: none;
  padding-left: 0;
  overflow: auto;
  height: 315px;
  margin: 0;
}

.todos {
  display: flex;
  font-size: 18px;
  border-bottom: 1px solid rgb(235, 235, 235);
  padding: 15px 10px;
  color: rgb(88, 88, 88);
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 100px;
}

.container:hover input ~ .checkmark {
  border: 1px solid rgb(205, 220, 218);
}

.container input:checked ~ .checkmark {
  background-color: #fff;
  border: 1px solid rgb(205, 220, 218);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 12px;
  border: solid rgb(135, 190, 176);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.todoCompleted {
  text-decoration: line-through;
  font-size: 18px;
  color: rgb(221, 221, 221);
  margin: 0;
}

.todo {
  margin: 0;
}