.controlBox {
  display: flex;
  justify-content: space-between;
  color: rgb(125, 125, 125);
  padding: 11px 12px;
  border-top: 1px solid rgb(235, 235, 235);
}

.quantityItemsLeft {
  margin: 0;
}

.clearButton {
  background-color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  color: rgb(125, 125, 125);
}

.clearButton:hover {
  background-color: rgb(240, 228, 228);
}

.controlButton {
  background-color: #fff;
  border: none;
  cursor: pointer;
  color: rgb(125, 125, 125);
}

.controlButton-active {
  background-color: rgb(240, 228, 228);
}

.tabsButtons {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}